<%= form_tag(trader_trader_dashboard_path, method: :post, novalidate: true) do %>
<form>  
  <div class="relative">
    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
      <i class="fa-solid fa-money-bill-wave w-4 h-4 text-gray-500 dark:text-gray-400"></i>
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
      </svg>
    </div>
  <input type="number" name="amount" step="0.01" autocomplete="off" class="block w-full p-4 ps-10 text-sm text-white border border-none rounded-lg bg-strongdark appearance-none" placeholder="Deposit" required>
  </div>
</form>
<% end %>