<% if current_trader.present? || current_admin.present? %>
  <nav class="flex">
    <div class="w-64 p-4 bg-strongdark h-screen sticky top-0 z-999">
      <div class="mb-4">
        <%= link_to 'TradeXpert', root_path, class: "text-2xl font-bold txt-gradient" %> 
      </div>
      
      <ul class="flex-col text-white">
        <% if current_admin.present? %>
          <%= render 'shared/admin_menu' %>
        <% elsif current_trader.present? %>
          <%= render 'shared/trader_menu' %>
        <% end %>
      </ul>
    </div>
  </nav>
<% end %>
