<div class="mx-auto max-w-7xl px-4 py-12">
  <div class="mx-auto max-w-4xl">

    <div style="margin-top: 20px;">
      <%= link_to 'Approved Traders', admin_pages_path, class: 'text-white font-medium' %>
      <h1 class="m-0 text-white">Pending Traders</h1>
    </div>

    <%= render 'traders_table' %>
    <%== pagy_nav(@pagy) %>
  </div>
</div>
