<div class="w-full px-8">
  <div class="py-8 text-white">
    <%= link_to 'Approved Traders', admin_pages_path, class: 'btn-secondary' %>
    <h1 class="text-4xl mt-4 font-bold">Pending Traders</h1>
  </div>
<%= render 'traders_table' %>
</div>
