<% if resource && resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="text-sm p-2 border font-medium text-red rounded-lg relative">
    <ul class="list-none list-inside">
      <% resource.errors.full_messages.each do |message| %>
        <li class="text-white"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
