@tailwind base;
@tailwind components;
@tailwind utilities;
@import "application.css";

@layer components {
  .rounded-big {
    border-radius: 40px;
  }

  .center {
    padding: 70px 0;
    border: 3px solid green;
    text-align: center;
  }

  .txt-gradient {
    background-image: linear-gradient(
      43deg,
      #4158d0 0%,
      #c850c0 46%,
      #ffcc70 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bg-gradient {
    background-image: linear-gradient(
      43deg,
      #4158d0 0%,
      #c850c0 46%,
      #ffcc70 100%
    );
  }

  .btn-main {
    text-decoration: none;
    user-select: none;
    border-radius: 2rem;
    background-color: #2f2a3c;
    padding: 0.5rem 1rem;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;

    &:hover {
      background-color: #1c1924;
    }
  }

  .btn-secondary {
    text-decoration: none;
    padding: 0.5rem 0 0.5rem 0;
    font-size: 1rem;
    text-align: center;
    color: #d3cfdd;
    vertical-align: middle;
    transition: all 0.3s ease;
    border-radius: 0.75rem;
    user-select: none;
    background-color: none;

    &:hover {
      color: #fff;
      text-decoration: underline;
      text-underline-offset: 0.5rem;
    }
  }
}
