<%= form_with(url: transactions_sell_stock_path(id: @quote.symbol), method: :post) do |f| %>
  <div class="form-group">
    <%= f.label :quantity, "Quantity", class: 'text-white' %>
    <%= f.number_field :quantity, class: "form-control text-black" %>
    <%= f.submit "Sell Stock", class: "btn-main" %>
  </div>
<% end %>