<div class="w-full h-screen px-8">
  <div class="mt-8 mb-4 flex justify-between">
    <h1 class="text-white font-bold text-2xl">Transactions</h1>
  </div>

  <% if @transactions.present? %>
    <%= render 'transaction_table' %>
  <% else %>
    <p class="text-white text-center italic">There are currently no transactions on record.</p>
  <% end %>
</div>